body{
    background-color: black;
    width: 960px;
    margin: auto;
}

div{
    height: 350px;
    display: flex;
}

div#top{
    display: flex;
    background-color: #f9844a;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    height: auto;
}
    .topchild{
        width: fit-content;
        height: fit-content;
    } 
        .topchild-1 img{
            margin: 21px 21px 0px 21px;
            height: auto;
            width: 482px;
        }


div#navbar{
    display: flex;
    background-color: #f9844a;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 15px;
    height: auto;
}
    .navbarchild{
        background-color: #fb5931;
        width: fit-content;
        height: fit-content;
    }
        .navbarbuttons{
            width: auto;
            height: 50px;
        }
        .navbarbuttons a{
            color: #ffffff;
            font-family: arcade_r;
        }


div#middle{
    background-color: #43aa8b;
    border-radius: 4px 4px;
    margin-bottom: 15px;
}
    .middlechild{
        width: 100px;
        height: 100px;
    }


div#bottom{
    background-color: #577590;
    border-radius: 5px 5px 15px 15px;
    margin-bottom: 15px;
}
    .bottomchild{
        width: 75px;
        height: 75px;
    }

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(font-files/altehaasgrotesk/AlteHaasGroteskBold.ttf);

    font-family: arcade_r;
    src: url(font-files/arcade_ya/ARCADE_R.TTF);
}