body{
    background-color: black;
    width: 960px;
    margin: auto;
}

.top-bar{
    height: fit-content;
    grid-template-columns: auto auto 25% 25%;
    grid-template-rows: auto auto;
}

    .top-bar img{
        width: 300px;
        height: auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .top-bar p{
        text-decoration: none;
        color: white;
        font-family: arcade_r;
        font-size: 35pt;
        text-align: right;
        height: fit-content;

        grid-column: 2 / 5;
        grid-row: 1 / 2;         
    }

    .top-buttons{
        justify-self: right;
        height: fit-content;
        margin: 220px 0px 0px 0px;

        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

        .top-buttons a{
            text-decoration: none;
            color: white;
            font-family: arcade_r;
            font-size: 13pt;
            padding-left: 34px;
        }

hr.line{
    border: none;
    height: 4px;
    width: 900px;
    background-color: white;
    border-radius: 6px 6px;
    opacity: 0.05;
}

/*|- - - - - - - - - - - - - - - - - |*/
/*|- - - - - - INDEX PAGE - - - - - -|*/
/*|- - - - - - - - - - - - - - - - - |*/

.index .midL-section{
    height: fit-content;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
}

    .index .midL-section p{
        text-decoration: none;
        color: #ff3300;
        font-size: 30pt;
        font-family: madetommyrounded_medium;
        text-align: left;
        height: fit-content;
        width: fit-content;

        margin: 110px 0px 135px 20px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

.index .midL-section-links{
    height: fit-content;  
    justify-content: center;    /*| This centers the content to the middle o' the page |*/
}

    .index .midL-section-links a{
        text-decoration: none;
        color: #ff3300;
        font-size: 25pt;
        font-family: madetommyrounded_medium;
        height: fit-content;
        width: fit-content;

        margin: 0px 10px 0px 10px;
    }

.index .midL-section-title{
    font-family: madetommyrounded_medium;
    color: white;
    font-size: 35pt;

    height: 63px;
    width: 1300px;
    position: relative;             /* Ill be honest with you I have no idea how */
    left: 50%;                      /* these lines work but they center the midL */ 
    transform: translateX(-50%);    /* section to the page w/out breaking it :)  */

    }

.index .midL-section-blog{
    width: 1285px;
    margin: 15px 0px;
    position: relative;             /* Ill be honest with you I have no idea how */
    left: 50%;                      /* these lines work but they center the midL */ 
    transform: translateX(-50%);    /* section to the page w/out breaking it :)  */
    grid-template: repeat(1, 1fr) / repeat(2, 1fr); /* "repeat(1, 1fr)" creates 1 row each taking up an equal fraction of the container's height*/
    gap: 15px;                                      /* "repeat(2, 1fr)" creates 2 columns each taking up an equal fraction of the container's width*/
    }

    .index .box{
        font-family: madetommyrounded_medium;
        color: white;
        background-color: rgb(245, 245, 245, 0.06);

        padding: 15px;
        border-radius: 10px;
        grid-column: span 1;    /*| "grid-column: span 1" and "grid-row: span 1" mean |*/
        grid-row: span 1;       /*| that the box should span 1 column and 1 row. |*/
    }

        .index .box p{
            font-size: 15pt;
            color: #ff3300;
            text-align: right;

            height: fit-content;
            margin: 0px;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .index .box h2{
            text-align: right;
            font-size: 30pt;

            height: fit-content;
            margin-top: 29px;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .index .box img{
            background-color: red;
            max-height: 350px;
            width: 100%;
            border-radius: 2%;

            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }

/*|- - - - - - - - - - - - - - - - - - -|*/
/*|- - - - - - MEMBERS PAGE - - - - - - |*/
/*|- - - - - - - - - - - - - - - - - - -|*/

.members .midL-section-title{
    font-family: madetommyrounded_medium;
    color: white;
    font-size: 35pt;

    height: 63px;
    width: 1500px;
    position: relative;             /* Ill be honest with you I have no idea how */
    left: 50%;                      /* these lines work but they center the midL */ 
    transform: translateX(-50%);    /* section to the page w/out breaking it :)  */

    }

.members .midL-section{
    width: 1500px;
    margin: 15px 0px;
    position: relative;             /* Ill be honest with you I have no idea how */
    left: 50%;                      /* these lines work but they center the midL */ 
    transform: translateX(-50%);    /* section to the page w/out breaking it :)  */
    grid-template: repeat(1, 1fr) / repeat(3, 1fr); /* "repeat(1, 1fr)" creates 1 row each taking up an equal fraction of the container's height*/
    gap: 15px;                                      /* "repeat(3, 1fr)" creates 3 columns each taking up an equal fraction of the container's width*/
    }

    .members .contact-box{
        font-family: madetommyrounded_medium;
        color: white;
        background-color: rgb(245, 245, 245, 0.06);

        padding: 15px;
        border-radius: 10px;
        grid-column: span 1; /* "grid-column: span 1" and "grid-row: span 1" mean that the box should span 1 column and 1 row.*/
        grid-row: span 1;
    }

        .members .contact-box img{
            width: 180px;
            height: 180px;
            border-radius: 9%;
        }

        .members .contact-box h2{
            text-align: right;
            font-size: 30pt;

            margin-top: 29px;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .members .contact-box p{
            font-size: 15pt;
            color: #ff3300;
            text-align: right;

            margin: 0px 0px;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

/*|- - - - - - - - - - - - - - - - - - - |*/
/*|- - - - - - MEETINGS PAGE - - - - - - |*/
/*|- - - - - - - - - - - - - - - - - - - |*/

.meetings .midL-section{
    width: 1500px;
    margin: 15px 0px;
    position: relative;           
    left: 50%;                     
    transform: translateX(-50%);   
    grid-template: repeat(1, 1fr) / repeat(5, 1fr); /* "repeat(1, 1fr)" creates 1 row each taking up an equal fraction of the container's height*/
    gap: 15px;                                      /* "repeat(4, 1fr)" creates 4 columns each taking up an equal fraction of the container's width*/
    }

        .meetings .meetings-box{
            background-color: rgb(245, 245, 245, 0.06);
            padding: 15px;
            border-radius: 10px;

            grid-column: span 1; /* "grid-column: span 1" and "grid-row: span 1" mean that the box should span 1 column and 1 row.*/
            grid-row: span 1;
        }

/*|- - - - - - UNDER CONTRUCTION - - - - - - |*/
.under-construction{
    margin: auto;
}

.under-construction img{
    margin: 90px auto 0px auto;
    width: 200px;
    height: auto;
}

/*|- - - - - - - - - - - - - - - - - -|*/
/*|- - - - - - FONTS USED - - - - - - |*/
/*|- - - - - - - - - - - - - - - - - -|*/

@font-face {
    font-family: arcade_r;
    src: url(font-files/arcade_r.TTF);
    }

@font-face {
    font-family: madetommyrounded_medium;
    src: url(font-files/madetommyrounded_medium.otf);
}
