body{
    background-color: black;
    width: 960px;
    margin: auto;
}

div{
    height: 350px;
    display: flex;
}

/*--------------------- Top ---------------------*/

div#top{
    display: flex;
    background-color: #212529;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    height: auto;
}
    .topchild{
        width: fit-content;
        height: fit-content;
        border-radius: 15px 0px 0px 0px;
    } 
        .topchild-1 img{
            margin: 21px 21px 0px 21px;
            height: auto;
            width: 482px;
        }

/*---------------- Navigation Bar ----------------*/    

div#navbar{
    background-color: #212529;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 15px;
    height: fit-content;
}

    .navbarchild{
        display: flex;
        height: fit-content;
        width: 482px;
        margin: 0px 21px 0px 21px;

    }
        .navbarbuttons{
            font-family: madetommyrounded_medium;
            height: 50px;
        }
            .navbarbuttons a{
                color: #ffffff;
                text-decoration: none;
                margin: 10px 7.5px 0px 7.5px;
            }

/*-------------------- Middle -------------------*/

div#middle{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 120px 120px 120px auto auto;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
    height: fit-content;
}
        .middlechild-1{
            grid-row: 1 / 2;
            grid-column: 1 / 6;
            height: fit-content;
            width: 765px;
            color: #ffffff;
            font-family: madetommyrounded_medium;
            margin: 37px auto 0px auto;
            font-size: 35px;
            text-align: left;
        }

        .middlechild-2{
            grid-row: 4 / 5;
            grid-column: 1 / 6;
            z-index: 1;
            height: fit-content;
            line-height: 60px;
            margin: 0px auto 0px auto;
        }
            .middlechild-2 h3{
                color: #ffffff;
                font-family: madetommyrounded_medium;
                font-size: 75px;
                margin: 0px 0px;
            }

            .middlechild-2 img{
                height: 60px;
                margin-left: 15px;
            }
        
        .middlechild-4{
            grid-row: 5 / 6;
            grid-column: 2 / 5;
            margin: 20px auto 20px auto;
            height: fit-content;
        }
            .middlechild-4 img{
                border-radius: 7px 7px;
                height: 300px;
                width: auto;
            }


/*-------------------- Bottom -------------------*/

div#bottom{
    background-color:#212529;
    border-radius: 15px 15px;
    margin-bottom: 15px;
    height: 85px;
}
    .bottomchild{
        width: 75px;
        height: 75px;
    }

@font-face {
    font-family: madetommyrounded_medium;
    src: url(font-files/made_tommy_rounded/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(font-files/altehaasgrotesk/AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: ibm;
    src: url(font-files/ibm/IBM-Logo.ttf);
}

@font-face {
font-family: arcade_r;
src: url(font-files/arcade_ya/ARCADE_R.TTF);
}

@font-face {
    font-family: arcade_i;
    src: url(font-files/arcade_ya/ARCADE_I.TTF);
}
