body{
    background-color: black;
    width: 960px;
    margin: auto;
}

div{
    height: 350px;
    display: flex;
}

/*--------------------- Top ---------------------*/

div#top{
    display: flex;
    background-color: #f9844a;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    height: auto;
}
    .topchild{
        width: fit-content;
        height: fit-content;
    } 
        .topchild-1 img{
            margin: 21px 21px 0px 21px;
            height: auto;
            width: 482px;
        }

/*---------------- Navigation Bar ----------------*/    

div#navbar{
    display: flex;
    background-color: #f9844a;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 15px;
    height: auto;
}
    .navbarchild{
        display: flex;
        background-color: #f9844a;
        border-radius: 0px 0px 0px 15px;
        width: 482px;
        height: fit-content;
        justify-content: center;
    }
        .navbarbuttons{
            width: auto;
            height: 50px;
            margin: 0px 21px 9px 21px;
        }
        .navbarbuttons a{
            color: #ffffff;
            text-decoration: none;
            font-size: 12pt;
            font-family: arcade_r;
            margin: 9px 7.5px 9px 7.5px;
        }

/*-------------------- Middle -------------------*/

div#middle{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 120px 120px 120px 120px 120px;

    background-color: #a3c750;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
    height: auto;
}
    .middlechild{
    }
        .middlechild-1{
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            background-color:#d1d347;
            border-radius: 15px 15px;
            height: auto;
        }
        .middlechild-2{
            grid-row: 3 / 6 ;
            grid-column: 1 / 6 ;
            background-color: #eb7425;
            border-radius: 15px 15px;
            height: auto;
        }

/*-------------------- Bottom -------------------*/

div#bottom{
    background-color: #577590;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
}
    .bottomchild{
        width: 75px;
        height: 75px;
    }

@font-face {
    font-family: madetommyrounded_medium;
    src: url(font-files/made_tommy_rounded/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(font-files/altehaasgrotesk/AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: ibm;
    src: url(font-files/ibm/IBM-Logo.ttf);
}

@font-face {
font-family: arcade_r;
src: url(font-files/arcade_ya/ARCADE_R.TTF);
}

@font-face {
    font-family: arcade_i;
    src: url(font-files/arcade_ya/ARCADE_I.TTF);
}
